[Unit]
Description=XRay Torrent Blocker Service
Documentation=https://github.com/kutovoys/xray-torrent-blocker
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/tblocker/tblocker -c /opt/tblocker/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target 